singledispatch
numpy
crc
intelhex
xmltodict
requests
pywin32;sys_platform == 'win32'
uptime
pyserial
pyusb
python-can==4.5.0
gs_usb;sys_platform == 'win32'
pillow
tk
customtkinter
CTkMenuBar
CTkMessagebox
tkinter-async-execute
